{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="mt-5">
  <div class="container">
    <section class="text-center">
      {% if upcomings.all %}
      <h2 class="h1-responsive font-weight-bold text-center my-5">Upcoming Events</h2>
      <!-- Section description -->
      <p class="text-center w-responsive mx-auto mb-5">Recent Posts which are submitted and under review or published</p>

      <div class="row mb-4 wow fadeIn">
        {% for event in upcomings %}
        {% include 'includes/event_list.html' %}
        <a href="{{ event.registration }}" target="_blank" class="btn btn-primary btn-md">Registration
          <i class="fas fa-mouse-pointer ml-2"></i>
        </a>
      </div>

  </div>

  <!--/.Card-->

  </div>
  {% endfor %}
  </div>
  {% endif %}

  {% if ongoing.all %}
  <h2 class="h1-responsive font-weight-bold text-center my-5">Ongoing Events</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">Recent Posts which are submitted and under review or published</p>
  <!--Grid row-->
  <div class="row mb-4 wow fadeIn">
    {% for event in ongoing %}
    {% include 'includes/event_list.html' %}
    <a href="#" target="_blank" class="btn btn-primary btn-md disabled">Registration
      <i class="fas fa-mouse-pointer ml-2"></i>
    </a>
  </div>

</div>

<!--/.Card-->

</div>
    {% endfor %}
  </div>
  {% endif %}
  <!--Pagination-->
  {% if pasts.all %}
  <h2 class="h1-responsive font-weight-bold text-center my-5">Past Events</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">Recent Posts which are submitted and under review or published</p>
  <!--Grid row-->
  <div class="row mb-4 wow fadeIn">
    {% for event in pasts %}
    {% include 'includes/event_list.html' %}
    <a href="{% url 'post_detail' event.slug %}" target="_blank" class="btn btn-primary btn-md">Read Blog
      <i class="fas fa-file ml-2"></i>
    </a>
  </div>

</div>

<!--/.Card-->

</div>
    {% endfor %}
  </div>
  {% endif %}


  </section>
  </div>
</main>
{% endblock %}
