{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
{% endblock %}
{% block content %}

<div class="container">

  <!-- Jumbotron Header -->
  <div class="wow fadeIn">

  <header style="background-color:#fff !important"class="jumbotron my-4 hoverable">

    <h1 class="display-3">Welcome</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Molestie nunc non blandit massa enim nec. Rutrum quisque non tellus orci ac auctor augue. Lobortis mattis aliquam faucibus purus in. Sed egestas egestas fringilla phasellus. Orci a scelerisque purus semper eget duis at tellus at. Orci nulla pellentesque dignissim enim</p>
  </header>
</div>
  <div class="badge badge-primary text-wrap" style="">
    Recent Updates</div>
  <!-- Page Features -->
  <div class="row text-center">

    {% for feature in features %}

    <div class="wow fadeIn">
    <!-- News jumbotron -->
    <div style="background-color:#fff !important" class="jumbotron text-center hoverable p-4">
      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 offset-md-1 mx-3 my-3">

          <!-- Featured image -->
          <div class="view overlay">
            <img src="{{ feature.cover.url }}" class="img-fluid" alt=" image for first version of blog listing">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

        </div>
        <div class="col-md-7 text-md-left ml-3 mt-3">

          <!-- Excerpt -->
          <a href="#!" class="green-text">
            <h6 class="h6 pb-1"><i class="fas fa-{{ feature.blogtype }} pr-1"></i>{{ feature.blogtype }}</h6>
          </a>

          <h4 class="h4 mb-4">{{ feature.title }}</h4>

          <p class="font-weight-normal">{{ feature.content|safe|slice:"500" }}</p>
          <p class="font-weight-normal">by <a><strong>{{ feature.author }}</strong></a>, {{ feature.updated_on }}</p>

          <a href="{% url 'post_detail' feature.slug %}" class="btn btn-success">Read more</a>
        </div>
      </div>
    </div>
</div>
    {% endfor %}



  </div>

  <section class="text-center my-5">


    <h2 class="h1-responsive font-weight-bold text-center my-5">Our projects</h2>

    <p class="grey-text text-center w-responsive mx-auto mb-5">We love Open Source and we promote it to the fullest. Here are few Open Source projects we wish to bring to life. We are expecting your contributions to the projects.</p>

    <div class="row">


      {% for project in projects %}
      <div class="col-md-6 mb-4">
        <div class="card card-image" style="background-image: url({{ project.cover.url }});">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
            <div>
              <h6 class="green-text">
                <i class="fas fa-chart-pie"></i>
                <strong> {{ project.category }}</strong>
              </h6>
              <h3 class="py-3 font-weight-bold">
                <strong>{{ project.name }}</strong>
              </h3>
              <p class="pb-3">{{ project.description|safe }}
              </p>
              <a class="btn btn-success btn-rounded btn-md disabled"><i class="fas fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}


    </div>



  </section>
  <!--Section: Contact v.2-->
  <section class="mb-4">

      <!--Section heading-->
      <h2 class="h1-responsive font-weight-bold text-center my-4">Reach us</h2>
      <!--Section description-->
      <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
          a matter of hours to help you.</p>

      <div id='contact' class="row">

          <!--Grid column-->
          <div class="col-md-9 mb-md-0 mb-5">
              <form id="contact-form" name="contact-form" method="POST" novalidate>

                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-success">Send</button>
                  <!--Grid row-->

              </form>

              <div class="text-center text-md-left">

              </div>
              <div class="status"></div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3 text-center">
              <ul class="list-unstyled mb-0">
                  <li><i class="fas fa-map-marker-alt fa-2x"></i>
                      <p>SDS , Cochin </p>
                  </li>

                  <li><i class="fas fa-phone mt-4 fa-2x"></i>
                      <p>+ 91 *** *** ****</p>
                  </li>

                  <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                      <p>contact@studevsoc.com</p>
                  </li>
              </ul>
          </div>
          <!--Grid column-->

      </div>

  </section>
</div>


{% endblock %}
