{% extends 'base.html' %}

{% load static %}

{% block title %}Create a Post {% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}



{% block content %}
{% include 'includes/post_notification.html' %}
<div class="container">
  <form method="post" class="mb-4" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

{% endblock %}
